@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar scrollbar terlihat estetik seperti di Canvas */
.custom-scrollbar::-webkit-scrollbar { width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #6366f1; border-radius: 20px; }